body {
  margin: 0;
  font-family: arial, sans-serif;
  background: #121212;
  color: rgb(227, 227, 227);
  text-align: center;
}

.screen {
  max-width: 400px;
  margin: auto;
  padding: 20px;
}

/*.hidden {
  display: none;
}
*/
#box1{
  display: inline-flex;
  justify-content: center;
  align-items: middle;
}
#box2{
  flex: 0.25;
  display: flex;
  justify-content: center;
  align-items: middle;
  padding: 20px;
}
#makeRoomBtn{
  height: 50px;
  flex: 1;
}
.join{
  flex: 1;
}
#roomCodeInput{
  width: 40%;
}
#nameInput {
  width: 80%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  margin: 8px 0;
  margin-bottom: 20px;
}

#roomCodeInput {
  width: 80%;
  padding: 16px;
  border-radius: 12px;
  border: none;
  margin: 8px 0;
}

button {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  border: none;
  margin: 8px 0;
  font-family: arial, sans-serif;
  color:#292929;

}
input{
  font-family: arial, sans-serif;
    font-size: 15px;

}
.card {
  background: rgb(227, 227, 227);
  color: black;
  font-size: 26px;
  padding: 40px;
  border-radius: 16px;
}

.card-border {
  background: rgb(44, 49, 60);
  color: black;
  font-size: 26px;
  padding: 10px;
  border-radius: 16px;
  margin: 20px 0;
}
#players {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 6px;
  padding: 20px;
}

.player {
  padding: 6px 10px;
  border-radius: 8px;
  background: #222;
  color: rgb(227, 227, 227);
  font-size: 16px;
}

/* Highlight current player (future-proof) */
.player.active {
  background: #4caf50;
}

.turn {
  margin-bottom: 10px;
}

#yesBtn:not(:disabled):hover {
  background: #a2dcad;
}

#noBtn:not(:disabled):hover {
  background: rgb(140, 157, 242);
}

.list-flex{
  margin-top: 50px;
  display: inline-flex ;
}

#text2{
  margin-left: 5px;
}